<div class="min-h-96">
  <app-header-component
    subTitle="Here's My"
    title="Qualifications"
  ></app-header-component>
  <div class="block md:flex md:gap-10">
    <div class="md:flex-1 flex flex-col gap-2">
      <div class="title tracking-tight text-lg font-semibold">Education</div>
      <div class="experience flex flex-col bg-gray-200">
        <app-education-info-card
          degree="Master in Business Administration - Information Technology"
          university="Tribhuwan university"
          year="2018-2020"
          major="Information Technology, Management"
        />
        <app-education-info-card
        degree="Bachelor of Information Management"
        university="Tribhuwan university"
        year="2013-2017"
        major="Information Technology, Management"
      />
      </div>
    </div>
    <div class="mt-4 md:mt-0 md:flex-1 flex flex-col gap-2">
      <div class="title tracking-tight text-lg font-semibold">Experience</div>
      <div class="experience flex flex-col bg-gray-200">
        <app-experience-info-card
          company="Ghimire Group Pvt. Ltd."
          year="2019-Present"
          work="Senior Software Engineer"
        />
        <app-experience-info-card
        company="3 Callistos Services"
        year="2017-2018"
        work="Mid-Level Android Developer"
      />
      </div>
    </div>
  </div>
</div>
