<div class="flex h-96 items-center justify-center px-20">
    <div class="px-0 flex-1 md:px-10 flex flex-col gap-6">
      <div class="text-4xl uppercase font-bold tracking-wider">I'm Bibesh Manandhar</div>
      <div class="font-bold uppercase tracking-wider">I'm a<span class="text-emerald-400"> Software Developer</span></div>
      <div class="flex flex-col gap-4">
        <div class="tracking-wide custom-word-space">
        I am a web developer, software engineer, and student currently living in
        Samakhusi-26, Kathmandu, Nepal. My interests range from photography to
        web development. I am also interested in innovation, music, and
        technology.
      </div>
      <div>
        <app-button-component>
          My CV
        </app-button-component>
      </div>
      </div>
    </div>
  <div class="flex-1 hidden md:flex justify-center items-center">
    <img src="./../../../assets/image/bibesh.png" class="h-96">
  </div>
</div>
